
   <h3 class="text-center">订单列表</h3>
   </br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>下单时间</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td> <%= link_to(order.id, order_path(order.token)) %></td>
          <td> <%= order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        </tr>
        <% end %>

      </tbody>
    </table>
