<h3 class="text-center">收藏列表</h3>
</br>
<div class="favorite-top-count">
  您共收藏了 <%= @products.count %> 件商品
</div>
<br>
<div class="row ">
  <%= render :partial => "favorite_item", :collection => @products, :as => :product %>
</div>
</div>
