<h4 class="text-left">收藏列表</h4>

    <table class="table">
      <thead>
        <tr>

          <th> 名称 </th>
          <th> 描述 </th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>


            <td> <%= link_to(product.title, product_path(product)) %> </td>
            <td> <%= product.description %> </td>

          </tr>
        <% end %>
      </tbody>
    </table>
