<!-- carousel begain -->
<div class="minHeight1000 bg-gray">
  <div class="banner tc pt30 w1200 bc">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
        <div class="item active">
         <a href="/products">
          <img src="https://ws4.sinaimg.cn/large/006tNc79gy1ffrq9gmgo4j31hc0exmyv.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="/products">
          <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1ffuhf1owwjj31hc0ez792.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="/products">
          <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1ffula3nsuxj31hc0exn1m.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- carousel end -->


<!-- 热卖商品区域 -->
   <section id="portfolio">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>热卖商品</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws4.sinaimg.cn/large/006tNc79gy1ffs0mxbb4aj30m80m8gnd.jpg" class="img-responsive" alt="Cabin">
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fft2v4bb2cj30m80m8gyw.jpg" class="img-responsive" alt="Slice of cake">
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws2.sinaimg.cn/large/006tNc79gy1fft31rspwvj30m80m8k07.jpg" class="img-responsive" alt="Circus tent">
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws2.sinaimg.cn/large/006tNc79gy1ffs0m9zqnxj30m80m8qaf.jpg" class="img-responsive" alt="Game controller">
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws3.sinaimg.cn/large/006tNc79gy1ffs0ryu9f2j30m80m8qb9.jpg" class="img-responsive" alt="Safe">
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws3.sinaimg.cn/large/006tNc79gy1ffs0ss97cdj30m80m87cy.jpg" class="img-responsive" alt="Submarine">
                   </a>
               </div>
           </div>
       </div>
   </section>


<!-- 南山瓷艺的优势 -->
	<div class="lp-advantage pt60 pb60">
		<h2 class="title tc f22 pb50">南山瓷藝的优势</h2>
		<div class="container bc">
			<div class="row">
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn">
						<img class="lp-advantage-img" src="https://ww1.sinaimg.cn/large/006tNc79ly1fd6jzimgwgj30ie0ie0td.jpg">
						<p class="lp-advantage-title f18 mt20">急速配送</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">物流，我们只选择顺丰速运，快捷、无损的将货品递交到您手上。偏远地区可选择EMS。</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
						<img class="lp-advantage-img" src="https://ws3.sinaimg.cn/large/006tNc79gy1ffs5q9gsbgj315k0mekjl.jpg">
						<p class="lp-advantage-title f18 mt20">精湛的工藝</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">中国古代五大名窑“汝、钧、官、哥、定”中，我们与汝窑大师、钧瓷大师、哥弟窑大师都有合作。</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
						<img class="lp-advantage-img" src="http://ww2.sinaimg.cn/large/006tKfTcgy1ffn9ln4bxnj30m80m8aly.jpg">
						<p class="lp-advantage-title f18 mt20">完美货品供应</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">严格的质量把控。每件工艺品都会经过严格的筛选，如果您对商品不满意，我们提供7天无理由退换货。您尽管放心地买。</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- 大师风采 -->
  <div class="lp-feedback pt60 pb60 lp-bg-gray">
  		<h2 class="title tc f22 pb20"> 大师风采 </h2>
  		<p class="f16 tc light pb30">南山瓷艺合作工藝大师</p>
      <div class="home-people container">
      	<div class="row">
      		<div class="item person fl col-md-4">
  	        <div class="avata-wrapper">
  	          <img class="avata" src="https://ws1.sinaimg.cn/large/006tNc79gy1ffsvcfbdpsj309q09qjse.jpg">
  	        </div>
  	        <div class="intro clearfix">
  	          <div class="name">
  	            卢伟孙
  	          </div>
  	        </div>
  	        <div class="words wow fadeIn" data-wow-duration="1s">
  	          <span class="bg"></span>
  	          <div class="content text-center">中国陶瓷艺术大师<br/>创造性地将哥窑弟窑两种艺术效果置于同一器皿。代表作品：《春秋》、《粉青釉瓶》</div>
  	        </div>
  	      </div>
  	      <div class="item person fl col-md-4">
  	        <div class="avata-wrapper">
  	          <img class="avata" src="https://ws2.sinaimg.cn/large/006tNc79gy1ffsvchmeb9j3060078wem.jpg">
  	        </div>
  	        <div class="intro clearfix">
  	          <div class="name">
  	            朱文立
  	          </div>
  	        </div>
  	        <div class="words wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
  	          <span class="bg"></span>

  	          <div class="content text-center">中国陶瓷艺术大师<br/>研制了临汝窑豆绿釉、天蓝釉、月白釉、葱绿釉。代表作品：《天青竹节杯》《天青汉代尊》</div>
  	        </div>
  	      </div>
  	      <div class="item person fl col-md-4">
  	        <div class="avata-wrapper">
  	          <img class="avata" src="https://ws2.sinaimg.cn/large/006tNc79gy1ffsvcg1t6fj30hs0a0mxt.jpg">
  	        </div>
  	        <div class="intro clearfix">
  	          <div class="name">
  	            王秋红
  	          </div>
  	        </div>
  	        <div class="words wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
  	          <span class="bg"></span>

  	          <div class="content text-center"> 中国钧瓷工藝大师<br/> ‘变’是钧瓷的命脉，创新是钧瓷发展的唯一途径。代表作品：《锦绣前程》、《佛果》</div>
  	        </div>
  	      </div>
      	</div>
      </div>
  	</div>

<!-- 结尾导购区 -->
  	<div class="lp-action tc pr">
  		<div class="text-content pa pt60 pb60">
  			<p class="f16 pb20">南山瓷艺——我们只是大师瓷艺作品的搬运工</p>
  				<a class="btn-lg lp-b-btn bc"  href="/products">立刻选购</a>
  			</p>
  		</div>
  	</div>
  </div>
