<!-- carousel begain -->
<div class="minHeight1000 bg-gray">
  <div class="banner tc pt30 w1200 bc">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
        <div class="item active">
         <a href="javacript:;">
          <img src="https://ws4.sinaimg.cn/large/006tNc79gy1ffrq9gmgo4j31hc0exmyv.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="javacript:;">
          <img src="https://ws3.sinaimg.cn/large/006tNc79gy1ffrs2vtsk9j31hc0exn1m.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="javacript:;">
          <img src="https://ws3.sinaimg.cn/large/006tNc79gy1ffrs2vtsk9j31hc0exn1m.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- carousel end -->


<!-- Portfolio Grid Section -->
   <section id="portfolio">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>热卖商品</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws4.sinaimg.cn/large/006tNc79gy1ffs0mxbb4aj30m80m8gnd.jpg" class="img-responsive" alt="Cabin">
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">

                       <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1ffn9ln4bxnj30m80m8aly.jpg" class="img-responsive" alt="Slice of cake">
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws1.sinaimg.cn/large/006tNc79gy1ffs0mg45e4j30m80m846y.jpg" class="img-responsive" alt="Circus tent">
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws2.sinaimg.cn/large/006tNc79gy1ffs0m9zqnxj30m80m8qaf.jpg" class="img-responsive" alt="Game controller">
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws3.sinaimg.cn/large/006tNc79gy1ffs0ryu9f2j30m80m8qb9.jpg" class="img-responsive" alt="Safe">
                   </a>
               </div>
               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws3.sinaimg.cn/large/006tNc79gy1ffs0ss97cdj30m80m87cy.jpg" class="img-responsive" alt="Submarine">
                   </a>
               </div>
           </div>
       </div>
   </section>



	<div class="lp-advantage pt60 pb60">
		<h2 class="title tc f22 pb50">南山瓷藝的优势</h2>
		<div class="container bc">
			<div class="row">
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn">
						<img class="lp-advantage-img" src="https://ww1.sinaimg.cn/large/006tNc79ly1fd6jzimgwgj30ie0ie0td.jpg">
						<p class="lp-advantage-title f18 mt20">急速配送</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">物流，我们只选择顺丰速运，快捷、无损的将货品递交到您手上。偏远地区可选择EMS。</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
						<img class="lp-advantage-img" src="https://ws3.sinaimg.cn/large/006tNc79gy1ffs5q9gsbgj315k0mekjl.jpg">
						<p class="lp-advantage-title f18 mt20">精湛的工藝</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">龙泉青瓷是非常具有中国特色的传统瓷器珍品。早在南宋时龙泉就烧制出晶莹如玉的粉青釉和梅子青釉，使龙泉青瓷达到颠峰。</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
						<img class="lp-advantage-img" src="http://ww2.sinaimg.cn/large/006tKfTcgy1ffn9ln4bxnj30m80m8aly.jpg">
						<p class="lp-advantage-title f18 mt20">完美货品供应</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">严格的质量把控。每件工艺品都会经过严格的筛选，如果您对商品不满意，我们提供7天无理由退换货。您尽管放心地买。</p>
					</div>
				</div>
			</div>
		</div>
	</div>


  <div class="lp-feedback pt60 pb60 lp-bg-gray">
  		<h2 class="title tc f22 pb20">「小小食杂铺」的超级粉丝</h2>
  		<p class="f16 tc light pb30">听听他们是怎么评价的</p>
      <div class="home-people container">
      	<div class="row">
      		<div class="item person fl col-md-4">
  	        <div class="avata-wrapper">
  	          <img class="avata" src="https://ww3.sinaimg.cn/large/006tNbRwgy1fd6f2qhsagj30aa0a40wo.jpg">
  	        </div>
  	        <div class="intro clearfix">
  	          <div class="name">
  	            Mike
  	          </div>
  	        </div>
  	        <div class="words wow fadeIn" data-wow-duration="1s">
  	          <span class="bg"></span>
  	          <div class="content">代码敲到累的时候，上「小小食杂铺」买点零食，然后起身活动活动，伸伸懒腰，派送员就送上门了，又快又方便!</div>
  	        </div>
  	      </div>
  	      <div class="item person fl col-md-4">
  	        <div class="avata-wrapper">
  	          <img class="avata" src="https://ww3.sinaimg.cn/large/006tNbRwgy1fd6fdugpl3j30cc0d20zq.jpg">
  	        </div>
  	        <div class="intro clearfix">
  	          <div class="name">
  	            小岳岳
  	          </div>
  	        </div>
  	        <div class="words wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
  	          <span class="bg"></span>

  	          <div class="content">作为零食达人的我，吃遍天下零食，几乎快吃腻了，直到遇见「小小食杂铺」，我就没有这个烦恼了，因为每天都有新品上架，吃都吃不完，哈哈</div>
  	        </div>
  	      </div>
  	      <div class="item person fl col-md-4">
  	        <div class="avata-wrapper">
  	          <img class="avata" src="https://ww1.sinaimg.cn/large/006tNbRwgy1fd6f6vnin5j30jy0k2k43.jpg">
  	        </div>
  	        <div class="intro clearfix">
  	          <div class="name">
  	            Green
  	          </div>
  	        </div>
  	        <div class="words wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
  	          <span class="bg"></span>
  	        
  	          <div class="content">「小小食杂铺」卖的零食都是正品，质量有保证，我们家的年货都是在上面买的，超赞！</div>
  	        </div>
  	      </div>
      	</div>
      </div>
  	</div>

  	<div class="lp-action tc pr">
  		<div class="text-content pa pt60 pb60">
  			<p class="f16 pb20">一大波好吃的零食在等着你，快来注册下单吧</p>
  			<p class="wow zoomIn" data-wow-duration=".5s">
  				<a class="btn-lg lp-b-btn bc"  href="/products">立刻选购</a>
  			</p>
  		</div>
  	</div>
  </div>
