/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";







/*------------- navbar --------------*/
.nav-logo {
  width: 80%;
  margin-top: 4px;
}

/*------------------------搜索框-------------------------*/
.products-search-form {
    margin-top: 10px;
    width: 290px;

  .search-bar {
      position: relative;
      margin-top: 10px;
      display: inline-block;
      padding-right: 40px;

  .search-bar-input  {
        min-width: 300px;
        transition: 0.35s;
      }
    }
  }

//*------------- 图片轮播 ------------//

.bg-gray {
    background: #F5F5F5;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
    line-height: 1;
}

//----------- 热门商品 -------------//
section {
    padding: 100px 0;
    background: #E0E0E0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.1);
}

#portfolio * {
    z-index: 2;
}

section h2 {
    margin: 0;
    font-size: 2em;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.portfolio-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

//----------- 我们的优势 ------------//

.pb60 {
    padding-bottom: 60px;
}

.pt60 {
    padding-top: 60px;
}

.lp .title {
    font-weight: normal;
}

.pb50 {
    padding-bottom: 50px;
}

.tc {
    text-align: center;
}

.pr20 {
    padding-right: 20px;
}

.pl20 {
    padding-left: 20px;
}

.bc {
    margin-left: auto !important;
    margin-right: auto !important;
}

.tc {
    text-align: center;
}

.lp-advantage .lp-advantage-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

img {
    vertical-align: middle;
    border: 0;
}

.lp-advantage .lp-advantage-title {
    color: #444;
    line-height: 1.2;
}

.mt20 {
    margin-top: 20px;
}

.f18 {
    font-size: 18px;
}

.lp-advantage .lp-advantage-desc {
    line-height: 1.7;
    letter-spacing: 0;
    font-size: 16px;
}

.mt30 {
    margin-top: 30px;
}

//-------  大师风采 -------------//

.lp-bg-gray {
    background: #E0E0E0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), inset 0 -1px 1px rgba(0,0,0,0.1);
}

.lp .title {
    font-weight: normal;
}

.pb20 {
    padding-bottom: 20px;
}

.tc {
    text-align: center;
}

.pb30 {
    padding-bottom: 30px;
}

.tc {
    text-align: center;
}

.f16 {
    font-size: 16px;
}

.lp-feedback .home-people .person {
    display: inline-block;
    top: 0;
    padding-bottom: 20px;
    position: relative;
}

.lp-feedback .home-people .person .avata {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.lp-feedback .home-people .person .avata-wrapper {
    position: absolute;
    width: 96px;
    height: 96px;
    padding: 5px;
    left: 50%;
    top: 10px;
    margin-left: -53px;
    border: dotted 1px #E6EDEF;
    border-radius: 53px;
    overflow: hidden;
}

.lp-feedback .home-people .person .intro .name {
    text-align: center;
}

.lp-feedback .home-people .person .words .bg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.7;
    z-index: 0;
}

.lp-feedback .home-people .person .words .content {
    position: relative;
    height: 75px;
    overflow: hidden;
    font-size: 14px;
    z-index: 0;
}

.lp-feedback .home-people .person .words {
    position: relative;
    margin-top: 10px;
    padding: 41px 20px 20px 25px;
    border-radius: 3px;
    line-height: 25px;
    text-align: left;
    font-weight: bold;
    overflow: hidden;
}


.lp-feedback .home-people .person .intro {
    margin-top: 108px;
}

.clearfix {
    display: block;
}


//------ 搬运工～ 导购-----//

.lp-action::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.55);
    position: absolute;
    top: 0;
    left: 0;
}


.lp-action .text-content {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}


.pa {
    position: absolute;
}

.lp-action p {
    color: #fff;
}

.pb20 {
    padding-bottom: 20px;
}

.f16 {
    font-size: 16px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.lp-action {
    background: url(https://ws1.sinaimg.cn/large/006tNc79gy1ffsxd4q52oj30qe0b40x3.jpg) center center no-repeat;
    height: 200px;
}

.pr {
    position: relative;
}

.tc {
    text-align: center;
}

.lp-b-btn {

    background: #00BFA5;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
}


/*------------------------footer置底-------------------------*/
html { height: 100%;}
  body { min-height: 100%; display: flex; flex-direction: column;}
  .content { flex: 1;}


/*----- footer ----*/

.footer {
    background: #333333;
    padding: 16px 10px 6px;
    text-align: center;
    font-size: 12px;
    color: #C2C2C2;
}

.footer span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    height: 24px;
    line-height: 23px;
}
