/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


//*---- application html------*//

html {
  height: 100%;
}

body {
  min-height: 100%; display: flex; flex-direction: column;  //footer 置底代码
}

.content { flex: 1;}  //footer 置底代码


.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/*------------- navbar --------------*/

.navbar {
  margin-bottom: 0px;
}

/*------------------------搜索框-------------------------*/
.products-search-form {
    margin-top: 10px;
    width: 290px;

  .search-bar {
      position: relative;
      margin-top: 10px;
      display: inline-block;
      padding-right: 40px;

  .search-bar-input  {
        min-width: 300px;
        transition: 0.35s;
      }
    }
  }



//*------------- 图片轮播 ------------//

.bg-gray {
    background: #F5F5F5;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
    line-height: 1;
}

//----------- 热门商品 -------------//
section {
    padding: 100px 0;
    background: #E0E0E0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.1);
}

#portfolio * {
    z-index: 2;
}

section h2 {
    margin: 0;
    font-size: 2em;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.portfolio-item {
  padding-top: 15px;
  padding-bottom: 15px;
}


//----------- 品牌故事  ------------//

.box-c {
    height: 600px;
    margin-bottom: 100px;
}

.box-c {
    background-size: cover;
    background-color: white;
    width: 100%;
}

.c-row1 {
    width: 80%;
    height: 300px;
    background-color: grey;
    margin: 0 auto;
}

.c1 {
    width: 50%;
    height: 300px;
    float: left;
    background-image: url(https://ws4.sinaimg.cn/large/006tNbRwgy1fg4phrtsjij31es0tc7wh.jpg);
    background-size: cover;
}

.c2 {
    width: 50%;
    height: 300px;
    background-color: #ebedef;
    float: left;
    background-image: url(https://ws4.sinaimg.cn/large/006tKfTcgy1fg4mk5lhuqj31kw0wzahb.jpg);
    background-size: cover;
}

.c2-text {
    text-align: center;
    width: 180px;
    float: left;
    margin-left: 33%;
}

.c-row2 {
    width: 80%;
    height: 300px;
    background-color: pink;
    margin: 0 auto;
}

.c3 {
    width: 50%;
    height: 300px;
    background-color: #ebedef;
    float: left;
    background-size: cover;
}

.c3-text {
    text-align: center;
}

.c4 {
    width: 50%;
    height: 300px;
    float: left;
    background-image: url(https://ws4.sinaimg.cn/large/006tNbRwgy1fg4pdinli2j31cy0uehdu.jpg);
    background-size: cover;
}

.contactus {
  color: black;
}

//----------- 我们的优势 ------------//

.advantage {
  background: #E0E0E0;
}

.pb60 {
    padding-bottom: 60px;
}

.pt60 {
    padding-top: 60px;
}

.lp .title {
    font-weight: normal;
}

.pb50 {
    padding-bottom: 50px;
}

.tc {
    text-align: center;
}

.pr20 {
    padding-right: 20px;
}

.pl20 {
    padding-left: 20px;
}

.bc {
    margin-left: auto !important;
    margin-right: auto !important;
}

.tc {
    text-align: center;
}

.lp-advantage .lp-advantage-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

img {
    vertical-align: middle;
    border: 0;
}

.lp-advantage .lp-advantage-title {
    color: #444;
    line-height: 1.2;
}

.mt20 {
    margin-top: 20px;
}

.f18 {
    font-size: 18px;
}

.lp-advantage .lp-advantage-desc {
    line-height: 1.7;
    letter-spacing: 0;
    font-size: 16px;
}

.mt30 {
    margin-top: 30px;
}

//-------  大师风采 -------------//

.lp-bg-gray {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), inset 0 -1px 1px rgba(0,0,0,0.1);
}

.lp .title {
    font-weight: normal;
}

.lp {
    padding-bottom: 20px;
}

.tc {
    text-align: center;
}

.pb30 {
    padding-bottom: 30px;
}

.tc {
    text-align: center;
}

.f16 {
    font-size: 16px;
}

.lp-feedback .home-people .person {
    display: inline-block;
    top: 0;
    padding-bottom: 20px;
    position: relative;
}

.lp-feedback .home-people .person .avata {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.lp-feedback .home-people .person .avata-wrapper {
    position: absolute;
    width: 96px;
    height: 96px;
    padding: 5px;
    left: 50%;
    top: 10px;
    margin-left: -53px;
    border: dotted 1px #E6EDEF;
    border-radius: 53px;
    overflow: hidden;
}

.lp-feedback .home-people .person .intro .name {
    text-align: center;
}

.lp-feedback .home-people .person .words .bg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.7;
    z-index: 0;
}

.lp-feedback .home-people .person .words .content {
    position: relative;
    height: 75px;
    overflow: hidden;
    font-size: 14px;
    z-index: 0;
}

.lp-feedback .home-people .person .words {
    position: relative;
    margin-top: 10px;
    padding: 41px 20px 20px 25px;
    border-radius: 3px;
    line-height: 25px;
    text-align: left;
    font-weight: bold;
    overflow: hidden;
}


.lp-feedback .home-people .person .intro {
    margin-top: 108px;
}

.clearfix {
    display: block;
}


//------ 搬运工～ 导购-----//

.lp-action::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.55);
    position: absolute;
    top: 0;
    left: 0;
}


.lp-action .text-content {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}


.pa {
    position: absolute;
}

.lp-action p {
    color: #fff;
}

.pb20 {
    padding-bottom: 20px;
}

.f16 {
    font-size: 16px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.lp-action {
    background: url(https://ws1.sinaimg.cn/large/006tNc79gy1ffsxd4q52oj30qe0b40x3.jpg) center center no-repeat;
    height: 200px;
}

.pr {
    position: relative;
}

.tc {
    text-align: center;
}

.lp-b-btn {

    background: rgba(66,36,27,2);
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
}

.lp-b-btn a:hover{
   color: #ecf0f1 !important;
}



/*----- footer ----*/

.footer {
    background: #333333;
    padding: 16px 10px 6px;
    text-align: center;
    font-size: 12px;
    color: #C2C2C2;
}

.footer span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    height: 24px;
    line-height: 23px;
  }

  .footer-text {
    color: #C2C2C2;
  }

/*---------------------- products/show -------------------*/


.fl {
    float: left;
    display: inline;
}

.pr {
    position: relative;
}

.intro-bigPic {
    width: 420px;
    height: 420px;
}

.intro-bigPic img {
    width: 100%;
}

.intro-preview {
    margin-top: 15px;
    padding-left: 0px;
}

.border {
    border: 1px solid #DDDDDD;
}

.magnifier-preview {
    position: absolute;
    width: 418px;
    height: 420px;
    left: 418px;
    top: -1px;
    padding: 0;
    z-index: 1000;
    overflow: hidden;
    visibility: hidden;
}

.magnifier-thumb-wrapper {
    position: relative;
    display: block;
    top: 0;
    left: 0;
}

.intro-preview .intro-preview-activeItem {
    border-color: #DB3652;
}

.fr {
    float: right;
    display: inline;
}

.intro-text {
    width: 730px;
}


.intro-text h3 {
    margin-top: 0;
    line-height: 30px;
}

.ell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
}

.fb {
    font-weight: bold;
}

.f20 {
    font-size: 20px;
}

.intro-text-desc {
    margin-top: 7px;
}


.bg-gray {
    background: #F5F5F5;
}

.intro-text-value {
    height: 60px;
    line-height: 60px;
}

.intro-text-service {
    height: 50px;
    line-height: 50px;
}

.pr30 {
    padding-right: 30px;
}

.pl20 {
    padding-left: 20px;
}

.col-black {
    color: #222;
}

.cart_delete {
  padding-right: 15px;
  margin-top: 20px;

}

.f24 {
    font-size: 24px;
}

.intro-text-btn.add-cart {
    color: #fff;
}

.bg-red {
    background: #D32048;
}

.intro-text-btn {
    display: block;
    width: 178px;
    height: 48px;
    line-height: 45px;
    border: 1px solid #d32048;
    font-family: "Microsoft Yahei",simhei;
    border-radius: 50px;
}

.pr15 {
    padding-right: 15px;
}

.pl15 {
    padding-left: 15px
}

.ml20 {
    margin-left: 20px;
}

.show-page, .search-page {
    width: 1200px;
}

.intro-preview .intro-preview-item img {
    width: 70px;
    height: 70px;
}

.intro-preview .intro-preview-item {
    padding: 1px;
    margin-right: 13px;
    overflow: hidden;
}

.ml20 {
    margin-left: 20px;
}

.show-page {
    width: 1200px;
}

.intro-text-view{
  margin: 20px 0 20px;
}

.product-wrap {
    margin-top: 30px;
    width: 1170px;
}

.ald-skuRight {
    width: 200px;
    z-index: 0;
    border: 1px solid #f2f2f2;
    top: 0;
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    vertical-align: top;
}

.suggest-title {
    border: 1px solid #dfdfdf;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 20px;
}

.suggest-title a, .nav-tabs a {
  color: #333;
  padding: 0 20px;
  font-size: 14px;
}

.product-hot .wrapCon {
    height: 100%;
}

.wrapCon {
    position: relative;
    overflow: hidden;
}

.product-hot .ald-carousel {
    height: 980px;
}

.ald-carousel {
    position: relative;
    overflow: hidden;
    padding: 10px 12px 2px 13px;
}

// .wrapCon ul {
//     width: 100%;
//     margin: 0;
//     padding: 0;
//     list-style: none;
//     position: absolute;
// }

// .wrapCon ul li {
//     height: 174px;
//     margin: 0;
//     padding: 0;
//     list-style: none;
//     display: block;
// }

.wrapCon .wow {
    display: block;
    text-align: center;
    color: #62574e;
    zoom: 1;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
}

.thumbnail-1 {
    height: 140px;
    width: 140px;
    margin: 0 auto;
    position: relative;
    background-color: #f8f8f8;
    vertical-align: middle;
    line-height: 120px;
    overflow: hidden;
}

.wrapCon .look_price {
    width: 100%;
    left: 0;
    line-height: 20px;
    background-color: rgba(255,255,255,0.8);
    bottom: 0;
    text-align: center;
    margin-bottom: 0;
    color: #62574e;
}

.wrapCon .look_title a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-align: center;
    color: #62574e;
    zoom: 1;
    cursor: pointer;
}

.wrapCon .look_title {
    margin-top: 0.2em;
}

.ALDCLS-act {
  margin-bottom: 5px;
}

p {
    margin: 0 0 10px;
}


.product-info {
    width: 940px;
    margin-left: 10px;
    display: inline-block;
}

.TabBarBox {
    border: 1px solid #dfdfdf;
    margin-bottom: 30px;
}

.TabBarBox ul {
    width: 100%;
    position: relative;
    height: 48px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: -8px;
    border-bottom: 0;
}

.TabBarBox .active {
    position: relative;
    border-top: 2px solid #b00000;
    height: 47px;
    margin: -1px 0 0 -1px;
    z-index: 1;
    padding: 0;
    float: left;
    line-height: 48px;
    display: block;
    cursor: pointer;
}


/*---------------- 购物车首页 ----------------------*/

.cartpage {
    width: 1200px;
}


.logo {
    width: 360px;
    height: 60px;
    font-size: 36px;
}

.cartProducts-title {
    height: 50px;
    line-height: 50px;
    padding-left: 0px;
    color: #9d9d9d;
}

.cartProducts-title-msg {
    width: 425px;
}

.cartProducts-title-price {
    width: 143px;
}

.cartProducts-title-quantity {
    width: 280px;
}

.cartProducts-title-total {
    width: 200px;
}

.cartProducts-title-operation {
    width: 150px;
}

.pt20 {
    padding-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml30 {
    margin-left: 30px;
    height: 74px;
}

.cartProducts-listItem .item-pic img {
    width: 72px;
    height: 72px;
}

.cartProducts-listItem .item-msg {
    padding-left: 20px;
    padding-top: 10px;
    width: 321px;
    color: #808080;
    font-size: 14px;
}

.cartProducts-listItem .item-msg a {
    color: #39f;
}

.cartProducts-listItem .item-price {
    padding-top: 26px;
    width: 143px;
    color: #808080;
    font-size: 14px;
}

.cartProducts-listItem .item-quantity {
    padding-top: 22px;
    width: 280px;
}

.countNumber {
    padding: 0 24px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.cartProducts-listItem .item-total {
    padding-top: 26px;
    width: 200px;
    color: #db3852;
}

.cartProducts-listItem .item-operation {
    padding-top: 28px;
    width: 150px;
}

.cartProducts-listItem {
    background: #F5F5F5;
}

.p20 {
    padding: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.mr20 {
    margin-right: 20px;
}

.mt10 {
    margin-top: 10px;
}


/*------------- carts/checkout page----------------------*/

.checkout-info {
  background-color: #222;
  color: #9d9d9d;
}

.price-color-red {
  color: #db3852;
}


.checkout-submit {
  margin-right: 15px;
  margin-bottom: 15px;
}

.minHeight {
    min-height: 800px;
}//订单详情页面

.order-info {
    margin-left: 10px;
}//订单详情页面

  /*----------------------搜索结果页面------------------*/

  .search-count {
    text-align: center;
  }

  .search-page {
    padding-top: 30px;
  }

  .search-page {
      min-height: 1000px;
  }

  .product-search {
    width: 230px;
    height: 350px;
    background: #fff;
    margin-right: 12px;
    margin-bottom: 12px;
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.09);
    top: 0;
    transition: all .4s;
  }

  .p15 {
    padding: 15px;
}

.fl {
    float: left;
    display: inline;
}

.col-red {
    color: #d32048;
}

.mt10 {
    margin-top: 10px;
}


.fb {
    font-weight: bold;
}

.f18 {
    font-size: 18px;
}

.thumbnail {
  padding: 0px;
}


/*------------ 后台管理 ---------------*/

.category-btn {
  margin-bottom: 10px;
} //category/index

.order-btn {
  margin-bottom: 5px;
}//product/index 上架／下架／向上／向下

  /*----------------------登录与注册页面-------------------*/
  .user_setup{
      height: 850px;
      background: #fff;
  }

  @media (min-width: 768px) {
     .user_setup_content {
       border-radius: 0; //圆角
     }
   }

  .user_setup_content{
      background: url("https://ws3.sinaimg.cn/large/006tKfTcgy1fg37os52iqj30dt0ig3zc.jpg") no-repeat center center ;
      margin-top: 135px;
      padding-top: 20px;
      padding-bottom: 20px;
      // box-shadow: 1px 2px 3px #111;
      // border: 1px solid #333;
      // border-radius: 25px;

      opacity:0.95;
      filter:alpha(opacity=95);

      h3{
        text-align: left;
      }

      .psw{
        float: right;
        margin-top: -33px;
        position: relative;
      }

      a{
        color: rgba(66,36,27,1);
      }

      .account{
        text-align: left;
      }

      .form-inputs{
        margin-top: 25px;
      }

      .form-actions{
        text-align: center;
        margin-top: 35px;
        margin-bottom: 25px;

        .button{
          color: #fff;
          background-color: rgba(66,36,27,0.9);
          border-color: rgba(66,36,27,0.9);
          font-size: 20px;
          letter-spacing: 1px;
          width: 100%;
        }
        .button:hover{
            background-color: rgba(66,36,27,0.7);
            border-color: rgba(66,36,27,0.7);
            color: #fff;
        }
      }
  }

  .glyphicon{
    color: rgba(66,36,27,1);
  }

.input-group-addon{
  background-color: #fff;
}

.login{
  background:  #fff;
}

.logo {
  font-size: 36px;
}

.logo {
  width: 360px;
  height: 60px;

}


/*------商品展示页-----*/

.product-content img {
    width: 100%;
    margin: 7.5px auto 7.5px auto;
  }

  .product-info {
     text-align: left;
     line-height: 14px;
     min-height: 55px;
   }

.product-box {
  text-align: center;
  padding: 0 0 100px 0;
  background: #F5F5F5;

.background-image {
    width: 100%;
    margin-bottom: 20px;
  }

  p{
    color: #e74c3c !important;
  }

  a{
    color: #666 !important;
  }

  a:hover {
  color: #e74c3c !important; //鼠标点击商品名称反馈

  img {
    opacity: 0.8; //鼠标放在图片上的显示
  }
}
}


/*------------ 分页按钮设定---------------*/
  .page-box {
    margin-top: 75px;


    a {
      background-color: #fff;
    }

    a:hover {
      background-color: #ddd;
      color: #666 !important;
    }
    .pagination > .active > span{
      z-index: 3;
      color: #fff;
      background-color: rgb(66,36,27);
      border-color: rgb(66,36,27);
    }
  }

  /*------------logo字体------------------*/

  @font-face {
      font-family: "行书简体";
      src: url("行书简体.eot"); /* IE9 */
      src: url("行书简体.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

      url("行书简体.woff") format("woff"), /* chrome、firefox */
      url("行书简体.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

      url("行书简体.svg#行书简体") format("svg"); /* iOS 4.1- */
      font-style: normal;
      font-weight: normal;
  }


  //这块内容先保留，请别删除
  // .logo-box {
  //   margin-right: 15px;
    // font-family: '行书简体'; /* 自己下载的字形 */
  //   font-size: 30px;
  //   color: #ecf0f1;
  // }
  .logo-box1 {
    img {
      display: inline-block;
      margin-top: -8px;
      margin-right: 8px;
      margin-left: 30px;
      width: 140px;
      height: 40px;
    }
  }

/*------------ 提示信息位置设定---------------*/
.alert {
  position: fixed; // 这个属性防止将内容挤下去
  top: 51px; // 让消息在导航条下面，不挡住导航，根据自己导航navbar的高度调整
  left: 80px;
  width: 90%;
  z-index: 10; // 让消息显示在最上面
  border-radius: 5px;
  opacity: 0.8;
}

.alert-success {
    background-color: rgba(0, 180, 137, 0.8);
    border-color: #00b489;
    color: #fff;
}

.alert-warning {
    background-color:  rgba(255,127,80,0.8);
    border-color: #faebcc;
    color: #fff;
}

.alert-danger {
    background-color:  rgba(223,32,41,0.5);
    border-color: #ebccd1;
    color: #fff;
}


/*----------------个人中心页面------------------*/

.nav-pills1{
  box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.3)
}
.panel-heading {
    padding: 30px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 2.5em;
}
.panel{
  margin-top: 20px;
}

/*----------------购物车内“+”-”按钮-----------*/


.quantity-input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2.5px;
    outline: none;
}
.cart-quantity-box .cart-quantity-actions {
    padding: 2.5px 10px 2.5px 10px;
    border: 1px solid #ccc;
    border-radius: 2.5px;
    color: gray;
    background: #fff;
}

/*-----------------回顶部-----------------*/
#gotop {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 90px;
  bottom: 50px;
  background: rgba(51,51,51,0);
  cursor: pointer;
  display: none; /*默认先隐藏掉*/
  .fa {
    font:   30px 30px 30px 30px FontAwesome;
    color: rgb(190,191,193);
    font-size: 25px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}
