/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";



/*------------------------footer置底-------------------------*/
html { height: 100%;}
  body { min-height: 100%; display: flex; flex-direction: column;}
  .content { flex: 1;}



/*------------------------搜索框-------------------------*/
.products-search-form {
    margin-top: 10px;
    padding-left: 20px;
    width: 290px;

  .search-bar {
      position: relative;
      margin-top: 10px;
      display: inline-block;
      padding-right: 40px;

  .search-bar-input  {
        min-width: 300px;
        transition: 0.35s;
      }
    }
  }

  /*----------------------登录与注册页面-------------------*/
  .user_setup{
      height: 850px;
      background: #fff;
  }

  @media (min-width: 768px) {
     .user_setup_content {
       border-radius: 0; //圆角
     }
   }
  .user_setup_content{
      background: url("http://ww2.sinaimg.cn/large/006tKfTcgy1ffsz6e0vg6j30go0go0t1.jpg") no-repeat center center ;
      margin-top: 135px;
      padding-top: 20px;
      padding-bottom: 20px;
      // box-shadow: 1px 2px 3px #111;
      // border: 1px solid #333;
      // border-radius: 25px;

      opacity:0.95;
      filter:alpha(opacity=95);

      h3{
        text-align: left;
      }

      .psw{
        float: right;
        margin-top: -33px;
        position: relative;
      }

      .account{
        text-align: left;
      }

      .form-inputs{
        margin-top: 25px;
      }

      .form-actions{
        text-align: center;
        margin-top: 35px;
        margin-bottom: 25px;

        .button{
          color: #fff;
          background-color: rgba(0,204,204,0.9);
          border-color: rgba(0,204,204,0.9);
          font-size: 20px;
          letter-spacing: 1px;
          width: 100%;
        }
        .button:hover{
            background-color: rgba(0,204,204,0.5);
            border-color: rgba(0,204,204,0.5);
            color: #fff;
        }
      }
  }

.input-group-addon{
  background-color: #fff;
}

.login{
  background:  #fff;
}

.logo {
  font-size: 36px;
}

.logo {
  width: 360px;
  height: 60px;

}
