<div class="minHeight1000 bg-gray">
  <div class="productList-wrap search-page w1200 pt30 bc">
      <% if @products.present? %>
        <h5 class="collection search-count">已为您找到<%= @products.count %>个宝贝</h5>

          <ul class="productList clearfix pb20">
            <%= render :partial => "product_items", :collection => @products, :as => :product %>
          </ul>

      <% else %>
        <p class="tc mt100">亲，没有搜索到商品哦，要不换个关键词试试？</p>
      <% end %>
  </div>
</div>
