<div class="reviews_wrapper clearfix">
    <div class="pull-left">
        <p class="lead"><%= review.body %></p>
        <p>
            <small>发表于
                <strong><%= time_ago_in_words(review.created_at) %>
                    前</strong>
                by
                <%= review.user.email %></small>
        </p>
    </div>

    <div>
<% if review.user == current_user %>
   <%= link_to("删除", product_review_path(@product, review), method: :delete, data: { confirm: "你确定要删除吗"}, class: "btn btn-sm pull-right") %>
<% end %>
  </div>
</div>
