<!-- <footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 JD Store
        <br>Design by jonathan

    </p>
</footer> -->




<footer class="footer">
	<p>关于我们 <span>|</span> 帮助中心 <span>|</span> 开放平台 <span>|</span> 诚聘英才 <span>|</span> 联系我们 <span>|</span> 网站合作 <span>|</span> 友情链接</p>
	<p>
    <span class="logo-text">Copyright ©2017 南山瓷艺</span>
    <span class="icp-center">设计师： Jonathan & JohSnow</span>
	</p>
</footer>
